---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header text-center"> <!-- 添加text-center类以居中标题 -->
          <h1 class="post-title display-4 font-weight-bold"> <!-- 增大字体大小并加粗 -->
            {{ site.title }}
          </h1>
          <p class="lead desc">{{ page.subtitle }}</p> <!-- 使用Bootstrap的lead类来突出显示描述 -->
        </header>

        <article>
          <!-- Team Introduction Section -->
          <div class="team-introduction my-4"> <!-- 添加间距 -->
            <p class="text-muted">WE ARE A TEAM OF STORY TELLERS, ARTISTS, MAKERS, DESIGNERS, DEVELOPERS, MUSICIANS, CODERS, SCIENTISTS, THEORISTS, LUTHIERS AND BUILDERS.</p>
            <!-- Rest of the team introduction text goes here -->
          </div>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image
              cache_bust=true -%}
            {% endif -%}
            {%- if page.profile.more_info %}
            <div class="more-info">
              {{ page.profile.more_info }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
            {%- include news.html limit=true %}
          {%- endif %}

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>

</div>
