---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header>
          <div class="content-row">
            <h1 class="text"><span class="font-weight-bold text-content">CA</span></h1>
            <div class="container mt-5">
              <div class="post">
                <img src="assets/img/cma_lab.jpg" alt="Your Image" class="content-image">
              </div>  
            </div>
            <h1 class="text"><span class="font-weight-bold text-content">RL</span></h1>
          </div>
        </header>
        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image
              cache_bust=true -%}
            {% endif -%}
            {%- if page.profile.more_info %}
            <div class="more-info">
              {{ page.profile.more_info }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            <!-- {{ content }} -->
            <p></p>
            <div class="clearfix-sub1">
              WE ARE A TEAM OF STORY TELLERS, ARTISTS, MAKERS, 
              DESIGNERS, DEVELOPERS,MUSICIANS, CODERS, 
              SCIENTISTS, THEORISTS, LUTHIERS AND BUILDERS. 
            </div>
            <p></p>
            <div class="clearfix-sub2">
              The Alice Lab's program of interdisciplinary research-creation applies a deep commitment to the open——endedness of computation-as an art material——toward technologies of artificial intelligence within immersive mixed reality. The research and training program will result in new software for artists to co-create immersive worlds——as art installations——from within the worlds themselves. As collaborative improvisations enacted with the whole body, this will radically change how we sculpt complex forms and behaviours. Moreover, these worlds will be more responsive, playful. andcurious. Disseminated in public venues, they will share a different conception of the cohabitation of human and artificial beings.
            </div>
          </div>

          <div class="kk-total">
            <div class="profile float-left">
              <img src="assets/img/prof_pic.jpg" alt="Your Image" class="content-image">
            </div>
  
            <div class="clearfix">
                <div class="kk">
                  CARL is directed by
                  <br/>
                  <b class="kk-name">Kang ZHANG</b>
                </div>
                <br/>
                <div class="kk-info">
                  <div>PhD in Computer Engineering</div>
                  <div>University of Brighton, 1990</div>
                  <br/>
                  <div><b>Acting Thrust Head</b></div>
                  <div>Thrust of Computational Media and Arts</div>
                  <div><b>Professor</b></div>
                  <div>Thrust of Computational Media and Arts</div>
                  <div>Academy of Interdisciplinary Studies</div>
                </div>
            </div>
          </div>


          <!-- News 
          {% if page.news and site.announcements.enabled -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
            {%- include news.html limit=true %}
          {%- endif %}-->

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: var(--global-theme-color); font-size: 3rem;">LATEST POSTS</a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>

</div>
