---
layout: default
---
<!-- page.html -->
<div class="post">

  <header class="post-header">
    <!-- <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p> -->
    <h1 class="post-title">
      STUDENTS
      <br/>
      AT CARL
    </h1>
    <span class="post-description">Our students thrive on creativeapproaches,experimentalpractices and learning through
      making</span>
  </header>

  <article>
    {{ content }}
  </article>

  {%- if page.related_publications != null and page.related_publications.size > 0 -%}
  {% assign publications = page.related_publications | replace: ", ", "," | split: "," | join: "|" %}
  <h2>References</h2>
  <div class="publications">
    {% bibliography -f {{ site.scholar.bibliography }} -q @*[key^={{ publications }}]* %}
  </div>
  {%- endif %}

  {%- if site.giscus and page.giscus_comments -%}
    {% include giscus.html %}
  {%- endif -%}
</div>
